i.icon {
	display: inline-block;
	height: 20px;
	width: 20px;
	position: relative;
	top: 3px;
	background-image: url('../images/icons.png');
	background-repeat: no-repeat;
}

i.icon.facebook {
	background-position: 0px 0px;
}

i.icon.facebook:hover {
	background-position: 0px -20px;
}

i.icon.twitter {
	background-position: -20px 0px;
}

i.icon.twitter:hover {
	background-position: -20px -20px;
}

i.icon.vimeo {
	background-position: -40px 0px;
}

i.icon.vimeo:hover {
	background-position: -40px -20px;
}

i.icon.actors_handbook {
	background-position: -60px 0px;
}

i.icon.actors_handbook:hover {
	background-position: -60px -20px;
}

i.icon.linkedin {
	background-position: -80px 0px;
}

i.icon.linkedin:hover {
	background-position: -80px -20px;
}




@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	
	i.icon {
		background-image: url('../images/icons@2x.png');
		background-size: 100px 40px;
	}
}